apps/client/node_modules
apps/mobile/node_modules
apps/server/node_modules
apps/client/.env
mobile/.env
server/.env
apps/backend/*/.env
apps/backend/*/node_modules
mobile/.expo
tls/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json

# Optional
.terraform.lock.hcl
